*{
	border: solid 1px;
	box-sizing: border-box;
}
.div_1{
  background: #75e2e6;
  width: 100%;
  height: 70px;
}
nav{
	margin: 0;
}
ul{
  margin: 0px;	
  height: 70px;
  list-style: none; 
} 
li{ 
  float: right;
  margin: 25px;
}
.dog_icon{
	margin-top: 10px;
}
.div_2{
  background-image: url("images/dog-party-assets/park.jpg"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
  align-content: center;
}
.site_about_dogs{
	width: 40%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.dog_1{
    width: 40%;
    height: 40%;
    margin:auto;
    margin-top: 40px;
    border-radius: 50%;
}
.name{
	display: block;
	color: white;
	width: 10%;
	margin-left: 25%;
	margin-bottom: 1%;
}
input{
	width: 50%;
	height:7.5%;
	margin-bottom: 12.5px;
}
button{
	background: #75e2e6;
	display:block;
	margin-left: auto;
	margin-right:auto;
	width: 50%;
	height: 7.5%;
}

.div_3{
  width: 100%;
  height: 425px;

}
.div_4{
  background: #048eaa;
  width: 100%;
  height: 150px;
}
.how_to_dog{ 
  float: left;
  width: 30%;
  height: 99%;
  margin-left: 32px;
  background: white; 
  text-align: center; 
}

